<template>
<div class="container">
	<h3 class="text-5xl mb-8 text-blue-dark antialiased px-2 py-3 leading-tight">Logs</h3>

	<table class="text-left w-full">
		<thead class="bg-black flex text-white w-full">
			<tr class="flex w-full mb-4">
				<th class="p-4 w-1/4">Log Name</th>
				<th class="p-4 w-1/4">Description</th>
				<th class="p-4 w-1/4">Model</th>
				<th class="p-4 w-1/4">Properties</th>
			</tr>
		</thead>
		<tbody class="bg-grey-light flex flex-col items-center justify-between overflow-y-scroll w-full rafaelogic" v-if="logs.length">
			<tr class="flex w-full mb-4" v-for="log in logs" :key="log.id">
				<td class="p-4 w-1/4">{{ log.log_name }}</td>
				<td class="p-4 w-1/4">{{ log.description }}</td>
				<td class="p-4 w-1/4">{{ log.subject_type }}</td>
				<td class="p-4 w-1/4">{{ log.properties }}</td>
			</tr>
		</tbody>
	</table>
</div>
</template>
<script>
import { mapGetters } from 'vuex';

export default {
    name: 'Logs',

    beforeCreate() {
        this.$store.dispatch('todo/fetchLogs');
    },

    computed: {
        ...mapGetters({
            logs: 'todo/logs'
        }),
    }
}
</script>
<style scoped>
.rafaelogic {
    height: 50vh;
}
</style>