<template>
<div class="w-full max-w-screen-xl mx-auto p-6">
  <div class="relative rounded overflow-hidden border border-grey-light mb-8 bg-white">
    <div class="border-b border-grey-light p-4 bg-grey-lighter py-8">
      <div class="bg-white mx-auto max-w-lg shadow-lg rounded-lg overflow-hidden">
        <div class="shadow rounded border-solid border-t-4 border-blue-dark sm:flex sm:items-center px-2 py-4">
          <div class="flex-grow">
            <h3 class="text-5xl text-blue-dark antialiased px-2 py-3 leading-tight">Todos</h3>
            <input 
              type="text" 
              placeholder="What you want to do?"
              class="my-2 w-full text-sm bg-grey-light text-grey-darkest rounded h-10 p-3 focus:outline-none"
              v-model="title"
              @keydown="reset"
              @keydown.enter="addTodo" 
            />
            <span
              class="ml-4 text-xs text-red"
              v-if="error.length"
            >
              {{ error }}
            </span>
            <ol class="list-decimal w-full">
              <li 
                v-for="todo in todos" 
                :key="todo.id"
                :class="[todo.is_completed ? 'text-gray' : 'text-blue', 'flex cursor-pointer my-1']"
                @click="editTodo(todo)"
              >
                <div class="w-4/5 h-10 py-3 px-1">
                  <p 
                    class="hover:text-blue-dark" 
                    v-text="todo.title"
                  >
                  </p>
                </div>
                <div class="w-1/5 h-10 text-right p-3" v-if="!todo.is_completed">
                    <a 
                      href="#"
                      @click.stop="markAsComplete(todo.id)"
                      class="text-sm text-blue-dark"
                    >
                      complete
                    </a>
                </div>
                <div class="w-1/5 h-10 text-right p-3">
                    <a 
                      href="#"
                      @click.stop="deleteTodo(todo.id)"
                      class="text-sm text-red"
                    >
                      delete
                    </a>
                </div>
              </li>
            </ol>
          </div>
        </div>
      </div>
      
      <logs />

    </div>
  </div>
</div>
</template>
<script>
import { mapGetters } from 'vuex';
import Logs from './Logs.vue';

export default {
  name: 'Todo',

  components: { Logs },
  
  data() {
    return {
      isEditing: false,
      isCompleted: false,
      title: '',
      selected: {},
    }
  },

  beforeCreate() {
    this.$store.dispatch('todo/fetch');
  },

  computed: {
    ...mapGetters({
      error: 'todo/error',
      todos: 'todo/todos'
    })
  },

  methods: {
    addTodo: function () {
      if (this.isEditing) {
        // Only save if changes made
        if (this.title !== this.selected.title) {
          let data = {
            id  : this.selected.id,
            new : {
              title: this.title
            }
          }

          this.$store.dispatch('todo/update', data);
        }

        this.title     = ''
        this.isEditing = false;
        return;
      }

      let data    = { title: this.title };
      this.title  = '';

      this.$store.dispatch('todo/store', data);
      this.updateLogs();
    },

    deleteTodo: function (todoId) {
      this.$store.dispatch('todo/delete', todoId);
      this.updateLogs();
    },

    editTodo: function(todo) {
      this.reset();

      this.isEditing = true;
      this.selected  = todo;
      this.title     = todo.title;
    },

    markAsComplete: function (todoId) {
      this.$store.dispatch('todo/complete', todoId);
    },

    reset: function() {
      if (this.error.length) this.$store.commit('todo/ERROR', []);
    },

    updateLogs: function () {
      this.$store.dispatch('todo/fetchLogs');
    }
  }
}
</script>